<div class="film remove">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <%= link_to({:action => 'view', :id => @filmmaker.id}, :class => 'back-link')do%>
        <button type="button" class="btn btn-primary ">
                <span class="glyphicon glyphicon-chevron-left"></span> Go Back
        </button>
      <% end %>
    </div>

    <div class="btn-group text-center" role="group">
      <h1><span class="glyphicon glyphicon-remove"><br></span></h1>
    </div>

    <div class="btn-group" role="group">
        <%= form_tag url_for({:action => 'destroy', :id => @filmmaker.id}) do  %>
           <button class="btn btn-danger btn-block" style="word-wrap:break-word;">
               Permanently delete this profile?
               <span class="glyphicon glyphicon-remove"></span>
          </button>
        <% end %>
    </div>
  </div>
  <%= render(:partial => "details") %>
  </div>
