    <%= link_to("<< Back to Search", {:action => 'search'}, :class => 'back-link') %>
    <%= link_to("Edit",{:action => 'edit' , :id => @filmmaker.id}, :class => 'action edit') %>

    <div class="filmmakers show">
      <h2><%= @filmmaker.firstName + " " + @filmmaker.lastName %></h2>

      <table summary="Filmmaker detail view">
        <tr>
          <th>Bio</th>
          <td><%= @filmmaker.bio %></td>
        </tr>
      </table>

    </div> 