  <% @page_title = params[:search] %>
  <div class="container">
  <div class="films search">
        <h2><%= if params[:search] != nil && params[:search] != "" then "Searching for \"" + params[:search] + "\"" else "The Latest and Greatest Student Films" end%></h2>

        <%= link_to(image_tag('plus_sign.png', :size=>'11x11', :alt => '+') + " Add New Film", {:action => 'add'}, :class => 'action add') %>

        <table class="listing" summary="film list">
          <% @films.each do |film| %>
          <tr>
            <td><%= link_to(film.title + "(" + film.year.to_s + ")", {:action => 'view' , :id => film.id},  :class => 'action view') %></td>
          </tr>
          <% end %>
        </table>
      </div>

</div>