    <%= link_to("<< Back to Search", {:action => 'search'}, :class => 'back-link') %>
    <%= link_to("Edit",{:action => 'edit' , :id => @film.id}, :class => 'action edit') %>

    <div class="films show">
      <h2><%= @film.title + "(" + @film.year.to_s + ")" %></h2>

      <table summary="Film detail view">
        <tr>
          <th>Synopsis</th>
          <td><%= @film.synopsis %></td>
        </tr>
      </table>

    </div> 