.logo {
	padding-top: 5px;
}

.navbar{
	padding-top: 15px;
	max-height: 80px;
}

body {
  padding-top: 80px;
}

.description{
  max-height:150px;
  max-width:95%;
  word-wrap: break-word;
  overflow: auto;
  text-overflow: ellipsis;
}

.spacer {
    margin-top: 15px;
}

.half-spacer {
    margin-top: 5px;
}

.credit{
  max-width:100%;
  word-wrap: break-word;
  overflow: auto;
  text-overflow: ellipsis;
}

.fillHeight{
	height: 100%;
}
